<!-- <p>about-us works!</p> -->
<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">
        Meet Our Team Members
      </p>
      <p class="text-blk section-subhead-text">
        Visit us for more services.
      </p>
      <div class="responsive-container-block">
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="https://media.licdn.com/dms/image/C4E03AQEYXSM17Q9qNQ/profile-displayphoto-shrink_400_400/0/1658508497188?e=1684972800&v=beta&t=D2F2_5FHxTL0J9xzExiGzyrp7ykSGN-4KYDe-v_L-2c">
            </div>
            <p class="text-blk name">
              Anshul Bhimnath
            </p>
            <!-- <p class="text-blk position">
              Instructor
            </p> -->
            <div class="social-media-links">
              <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a>
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="https://media.licdn.com/dms/image/D5603AQFdiSs_d_UAdg/profile-displayphoto-shrink_400_400/0/1678161728799?e=1684972800&v=beta&t=oKwt_eyVDcFUjsVtbXWvLk5j0XklJY8fG-lBdtxzN_g">
            </div>
            <p class="text-blk name">
              Sanket Bodhale
            </p>
            <!-- <p class="text-blk position">
              Instructor
            </p> -->
            <div class="social-media-links">
              <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a>
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="https://media.licdn.com/dms/image/C5603AQGHWUI00ZKE4g/profile-displayphoto-shrink_400_400/0/1637169009565?e=1684972800&v=beta&t=N9ut0YHE7_pVvoXhWb4Gyfr9hmtAnyj7MCLZ95cDQZo">
            </div>
            <p class="text-blk name">
              Chinmai Arekar
            </p>
            <!-- <p class="text-blk position">
              Instructor
            </p> -->
            <div class="social-media-links">
              <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a>
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src=" https://media.licdn.com/dms/image/D5603AQHwgANn51GlZw/profile-displayphoto-shrink_400_400/0/1674545376163?e=1684972800&v=beta&t=BN3tIMTRO_nJSstZMKRdtBn5HO-zW8x1STjuAOw5wNY">
            </div>
            <p class="text-blk name">
              Sejal Patil
            </p>
            <!-- <p class="text-blk position">
              Instructor
            </p> -->
            <div class="social-media-links">
              <a href="http://www.twitter.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
              </a>
              <a href="http://www.facebook.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
              </a>
              <a href="http://www.instagram.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
              </a>
              <a href="http://www.gmail.com/" target="_blank">
                <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


