<!-- <p>header works!</p> -->

<header>
<div class="container">
<a class="logoo" routerLink="/">Sejal Biryani House &#127835;</a>
<nav>
    <ul>
        <!-- <li>
            <a href="">Login</a>
            </li> -->
            <li class="menu-container">
                <a routerLink="">User</a>
                 <div class="menu">
                    <a routerLink="/login" >Login</a>
                    <a routerLink="/AboutUs">About Us</a>
                </div> 
            </li>
            <li>
                <a routerLink="/cart">Cart <span></span></a>
            </li>
    </ul>
</nav>
</div>
</header>
